BattleTank/Content/Assets/Tank/tank_fbx_Turret.uasset
BattleTank/Content/Assets/Tank/tank_fbx_Track.uasset
BattleTank/Content/Assets/Tank/tank_fbx_Body.uasset
BattleTank/Content/Assets/Tank/tank_fbx_Barrel.uasset
BattleTank/Content/Assets/Tank/Tank_BP.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_LOD5.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_LOD1.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_4K_Roughness.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_4K_Normal_LOD5.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_4K_Normal_LOD1.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_4K_Cavity.uasset
BattleTank/Content/Assets/Rock_Sandstone/Aset_rock_sandstone_S_plww4_4K_Albedo.uasset
BattleTank/Content/Assets/Landscape/Materials/Grass_LayerInfo.uasset
BattleTank/Content/Assets/Rock_Sandstone/Rock01_Mat_LOD5.uasset
BattleTank/Content/Assets/Rock_Sandstone/Rock01_Mat.uasset
BattleTank/Content/Meshes/
BattleTank/Content/Ui/BT17-Firing-M1A1-tank-in-Djibouti.uasset
